* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/* === Game Card === */

.allGames__container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* background: linear-gradient(90deg, rgba(10,9,41,1) 10%, rgba(11,9,42,1) 12%, rgba(54,0,80,1) 100%); */

    justify-content: center;
}

.allGames__container-cards {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 350px;
    height: 350px;
    border-radius: 5px;
    margin: 12px;
    overflow: hidden;
    /* background: linear-gradient(90deg, rgba(10,9,41,1) 10%, rgba(11,9,42,1) 12%, rgba(54,0,80,1) 100%); */
    /* color: whitesmoke; */

    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
    
}

.allGames__container-cards:hover {
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);
}

.allGames__container-cards_img img{
    width: 100%;
    /* height: 70%; */
}

.allGames__container-url {
    text-decoration: none;
    color: black;
}