* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/* Container / Page body */

.allGames__container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* background: linear-gradient(90deg, #0a0929 10%, rgba(11,9,42,1) 12%, #0a0929 100%); */
    
    justify-content: center;
}

/* === Game Card === */
.allGames__container-cards {
    box-shadow: 5px 5px 10px rgba(30, 0, 70, 0.397);
    transition: 0.3s;
    width: 350px;
    height: 355px;
    border-radius: 5px;
    margin: 12px;
    overflow: hidden;
    transition: .3s;
    /* background: linear-gradient(90deg, rgba(10,9,41,1) 10%, rgba(11,9,42,1) 12%, rgba(54,0,80,1) 100%); */
    /* color: whitesmoke; */

    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
    
}

.allGames__container-cards:hover {
    box-shadow: 10px 10px 10px rgba(46, 0, 77, 0.445);
    transform: translateY(-3px);
}

.allGames__container-cards_header img{
    width: 100%;
}

.allGames__container-url {
    text-decoration: none;
    color: black;

}

/* === Loading GIF === */
.loadingImg {
    display: block;    /* Center content */
    margin-left: auto;
    margin-right: auto;
}

/* === Card Body ==== */
.allGames__container-cards_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.allGames__container-cards_title a h5 {
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.allGames__container-cards_title a h5:hover {
    margin-left: 10px;
    font-size: 1.1rem;
    color: #ff8800;
}

.allGames__container-cards_title p {
    font-size: .9rem;
    font-weight: bold;
    margin-right: 10px;
    color: white;
    background: linear-gradient(180deg, rgba(255,153,0,1) 57%, rgba(255,189,90,1) 100%);
    width: 38px;
    padding-left: 5px;
    border-radius: 3px;
    cursor: default;
}

/* === Description w/ Scroll Bar === */
.allGames__container-cards_description {
    width: 97%;
    height: 70px;
    margin-left: 10px;
    overflow: auto;
    cursor: default;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}
    
::-webkit-scrollbar-track {
    /* border: 1px solid #dd52fc; */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgb(241, 160, 38) 0%, rgba(114,0,139,1) 100%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, rgb(214, 129, 0) 0%, rgb(87, 0, 107) 100%);
}

/* === Card Genre and Platform === */
.allGames__container-cards_genre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
}

.genre-tag {
    /* background-color: #7415ce; */
    font-size: .8rem;
    background: linear-gradient(180deg, rgba(116,21,206,1) 49%, rgba(164,66,255,1) 100%);
    color: white;
    font-weight: bold;
    border-radius: 3px;
    padding: 0px 5px;
    cursor: default;
}

.platform-tag {
    font-size: .9rem;
    cursor: default;
}